.body{
  margin: 0;
  padding: 0;
}

.main{
  position: relative;
}

.container{
  display: grid;
  width: 80%;
  margin: 20px auto;
  border: 1px solid black;
  grid-template-areas: 
      'p1 vs p2'
      'sc1 sc sc2';
  gap: 10px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.containerPlayer1{
  grid-area: p1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: coral; */
  text-align: center;
}


.containerVs{
  grid-area: vs;
  text-align: center;
}

.containerPlayer2{
  grid-area: p2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.containerScore1{
  grid-area: sc1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.containerScore{
  grid-area: sc;
}

.containerScore2{
  grid-area: sc2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.containerResult{
  display: block;
  position: absolute;
  background-color: salmon;
  width: 80%;
  height: 300px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.8;
}


.pict{
  border: 1px solid black;
  width: 150px;
  height: 150px;
  font-size: 30px;
  text-align: center;
  background-color: slategray;
}